#click1{
  background-color : rgb(246, 8, 8);
  color : rgb(255,255,255);
}
.test-button{
  /* height : 50px;
  width : 100px; */
  padding : 10px;
  border-radius: 20px;
}
.bttn-div{
  margin : 10px; 
}